.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

input[type=checkbox] + span:before {
    font-weight: 400;
    content:'\f004';
    font-family: fontAwesome;
}

input[type=checkbox]:checked + span:before {
    font-weight: 900;
    content:'\f004';
    font-family: fontAwesome;
}
