.primary-color {
    color: #e3d7c9;
}
.left-arrow{
    left: 2%;
    width: fit-content;
}
.right-arrow{
    right: 1%;
    width: fit-content;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #212529 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #e3d7c9 !important;
}

/*START-------bootstrap-override-------------------------------------------------------------------------*/
.btn-primary {
    background-color: transparent;
    color: #e3d7c9;
    border-color: #e3d7c9;
}

.btn:hover {
    background-color: #e3d7c9;
    color: #2C2C2C;
    border-color: #e3d7c9;
}

/*END---------bootstrap override-------------------------------------------------------------------------*/
input:-webkit-autofill {
    background-color: transparent !important;
}

.navbar {
    background-color: #2A283E;
    position: fixed;
    height: 100%;
    width: 16rem;
    justify-content: left;
    z-index: 2;
}

.content {
    margin-left: 250px;
    padding: 20px;
}



div.cart_grid
{
    display: grid;
    grid-template-columns: 500px 100px;
}

div.cart_item
{
    color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.8)
}
div.price
{
    color: #f2f2f2;
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.8)
}



