{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col flex-column overflow-x-hidden h-100 w-100" id="content">
        <div class="col-12 ps-4 pt-4 d-flex">
            <div class="container d-flex flex-wrap col-12">
                {% if cartItems.count > 0 %}
                    <div class="col-12 mt-5 mb-3">
                        <h1 class="primary-color text-left">Shopping Cart</h1>
                        <span class="primary-color">({{ cartCount }} items)</span>
                    </div>
                    {% for item in cartItems %}
                        <div class="cart-item border-top border-bottom px-2 py-3 d-flex col-12 primary-color mb-3">
                            <div class="product-name d-flex flex-wrap col-12 col-md-4">
                                <div class="col-12">
                                    <h5>
                                        <a href="{% url 'product_detail' product_id=item.product.productId %}">{{ item.product.name }}</a>
                                    </h5>
                                </div>
                                <div class="col-12">
                                    <a href="{% url 'vendor' store_id=item.product.soldByStoreId_id %}"
                                       class="primary-color">{{ item.product.soldByStoreId.name }}</a>
                                </div>
                            </div>
                            <div class="align-items-center col-12 col-md-1 d-flex">
                                <input class="item-qty col-12 btn p-2 btn-primary" type="number"
                                       value="{{ item.quantity }}"/>
                            </div>
                            <div class="col-12 col-md-3">
                                <h6 class="col-12 text-center">Item Price</h6>
                                <div class="col-12 text-center">${{ item.product.price }}</div>
                            </div>
                            <div class="col-12 col-md-3">
                                <h6 class="col-12 text-center">Item Total</h6>
                                <div class="col-12 text-center">${{ item.total_price }}</div>
                            </div>
                            <div class="align-items-center col-12 col-md-1 d-flex justify-content-center">
                                <a href={% url 'removeFromCart' product_id=item.product.productId %}><i class="fa-solid text-danger fa-trash"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12 d-flex justify-content-between">
                        <h4 class="primary-color">Item Subtotal: ${{ cartTotal }}</h4>
                        <a href="/checkout" id="proceed-checkout" class="col-3 btn-primary bg-success btn">Proceed to
                            Checkout</a>
                    </div>
                {% else %}
                    <div class="d-flex px-auto col-12 mt-5">
                        <h3 class="primary-color mx-auto text-center">You Don't Have Any Items In Cart Return To
                            Homepage... </h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
