{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/productcard.css' %}">
{% endblock %}
{% block content %}
    <div class="col d-flex flex-column overflow-hidden w-100 h-100 pt-3" id="content">
        <div class="row w-100 mx-auto position-relative pt-2">
            <h3 class="col-12 primary-color">Favorites</h3>
            <div class="w-100 d-flex flex-wrap">
                {% for product in products %}
                    {% include 'product_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
