{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/productcard.css' %}">
{% endblock %}
{% block content %}
    <div class="col d-flex flex-column overflow-hidden w-100 h-100 pt-3" id="content">
        <div class="d-flex flex-nowrap col-12 align-content-center position-relative">
            <div class="col-2 col-lg-1 pe-2 d-flex justify-content-end">
                <div class="arrow-icon left-arrow btn bg-dark btn-primary my-2" id="left-arrow">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
            </div>

            <div class="align-items-center col-8 col-lg-10 d-flex mx-auto overflow-x-hidden" id="categories-container">
                <div class="d-flex">
                    {% for key, value in categories %}
                        <a class="btn btn-primary mx-1 p-1 text-center w-100" style="
                                                                max-height: 50px;
                                                                min-width: 220px;
                                                                text-align: center;"
                           href="{% url 'categoryFilter' category=key %}">{{ value }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-2 col-lg-1 d-flex justify-content-start ps-2">
                <div class="arrow-icon right-arrow bg-dark btn btn-primary my-2" id="right-arrow">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>

        </div>
        <div class="row w-100 mx-auto position-relative pt-2">
            <div class="w-100 d-flex flex-wrap">
                {% for product in products %}
                    {% include 'product_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categoriesContainer = document.getElementById('categories-container');
            const leftArrow = document.getElementById('left-arrow');
            const rightArrow = document.getElementById('right-arrow');

            leftArrow.addEventListener('click', function () {
                categoriesContainer.scrollLeft -= 100; // Adjust scroll speed as needed
            });

            rightArrow.addEventListener('click', function () {
                categoriesContainer.scrollLeft += 100; // Adjust scroll speed as needed
            });

            // Optionally, you can add keyboard support for arrow keys
            document.addEventListener('keydown', function (event) {
                if (event.key === 'ArrowLeft') {
                    categoriesContainer.scrollLeft -= 100; // Adjust scroll speed as needed
                } else if (event.key === 'ArrowRight') {
                    categoriesContainer.scrollLeft += 100; // Adjust scroll speed as needed
                }
            });
        });
    </script>
{% endblock %}