{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/productcard.css' %}">
{% endblock %}
{% block content %}
    <div class="col d-flex flex-column overflow-hidden w-100 h-100 pt-3" id="content">
        <div class="w-100 h-100">
            <div class="row d-flex flex-wrap w-100 rounded-1 align-content-center position-relative">
                <div class="col-1 arrow-icon left-arrow btn btn-primary my-2 position-absolute" id="left-arrow">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="col-11 d-flex mx-auto overflow-x-hidden py-2" id="categories-container">
                    <div class="d-flex categories-wrapper">
                        {% for key, value in categories %}
                            <a class="btn btn-primary col-lg-2 mx-1"
                               href="{% url 'categoryFilter' category=key %}">{{ value }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1 arrow-icon right-arrow btn btn-primary my-2 position-absolute" id="right-arrow">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="row w-100 mx-auto position-relative pt-2">
                <div class="container d-grid w-100 flex-wrap"
                     style="grid-template-columns: repeat(6, 15%); grid-gap: 2%">
                    {% for product in products %}
                        {% include 'product_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const categoriesContainer = document.getElementById('categories-container');
            const leftArrow = document.getElementById('left-arrow');
            const rightArrow = document.getElementById('right-arrow');

            leftArrow.addEventListener('click', function () {
                categoriesContainer.scrollLeft -= 100; // Adjust scroll speed as needed
            });

            rightArrow.addEventListener('click', function () {
                categoriesContainer.scrollLeft += 100; // Adjust scroll speed as needed
            });

            // Optionally, you can add keyboard support for arrow keys
            document.addEventListener('keydown', function (event) {
                if (event.key === 'ArrowLeft') {
                    categoriesContainer.scrollLeft -= 100; // Adjust scroll speed as needed
                } else if (event.key === 'ArrowRight') {
                    categoriesContainer.scrollLeft += 100; // Adjust scroll speed as needed
                }
            });
        });
    </script>
{% endblock %}

