<div class="card border-0" style="background: transparent">

    {% if product.thumbnail %}
        <div class="image-container d-block overflow-hidden" style="height:200px">
            <img src="{{ product.thumbnail.image.url }}" alt="{{ product.name }}" class="d-block card-img-top">
            <div class="middle">
                <div class="text"><a href="{% url 'product_detail' product_id=product.productId %}">Product Detail</a></div>
            </div>
        </div>

    {% else %}
        <div class="image-container d-block overflow-hidden" style="height:200px">
            <img src="https://via.placeholder.com/400x400/5f6467/ffffff?text=Logo" alt="idk" class="d-block card-img-top">
            <div class="card-img-top justify-content-center d-flex align-items-center primary-color border">No Image</div>
            <div class="middle">
                <div class="text"><a href="{% url 'product_detail' product_id=product.productId %}">Product Detail</a></div>
            </div>
        </div>

    {% endif %}
    <div class="card-body">
        <div>
            <span class="fa fa-star fa-lg checked"></span>
            <span class="fa fa-star fa-lg checked"></span>
            <span class="fa fa-star fa-lg checked"></span>
            <span class="fa fa-star fa-lg unchecked"></span>
            <span class="fa fa-star fa-lg unchecked"></span>
        </div>

        {% include 'update_favorite.html' %}
        <h4 class="primary-color">{{ product.name }}</h4>
        <h5 class="primary-color">${{ product.price }}</h5>
        <a href="{% url 'vendor' store_id=product.soldByStoreId_id %}" class="primary-color">{{ product.soldByStoreId.name }}</a>
    </div>
</div>
