
<div class="position-relative">
    <div class="position-absolute top-0 left-0 z-1">
        <i class="{{ r.reviewId }} fa fa-star fa-lg fa-regular unchecked"></i>
        <i class="{{ r.reviewId }} fa fa-star fa-lg fa-regular unchecked"></i>
        <i class="{{ r.reviewId }} fa fa-star fa-lg fa-regular unchecked"></i>
        <i class="{{ r.reviewId }} fa fa-star fa-lg fa-regular unchecked"></i>
        <i class="{{ r.reviewId }} fa fa-star fa-lg fa-regular unchecked"></i>
    </div>
    <script>setStars({{ r.reviewId }}, {{ r.rating }})</script>
    <div class="position-relative z-0 top-0 left-0">
        <i class="fa fa-star fa-lg fa-regular unchecked"></i>
        <i class="fa fa-star fa-lg fa-regular unchecked"></i>
        <i class="fa fa-star fa-lg fa-regular unchecked"></i>
        <i class="fa fa-star fa-lg fa-regular unchecked"></i>
        <i class="fa fa-star fa-lg fa-regular unchecked"></i>
    </div>
</div>
<style>
    .checked {
        color: orange;
    }

    .unchecked {
        color: grey;
    }
</style>
