<div class="col-auto d-flex flex-column h-100 px-0 pt-2" id="sidebar">
    <div class="collapse collapse-horizontal show" id="sidebarContent">
        <ul class="nav flex-column w-100 sticky-top" style="top:55px;min-width: 135px" id="list">
            <li class="hover item">
                <a href="/" class="link hover"><i class="fa fa-home"></i> Home </a>
            </li>
            <hr class="border-0 w-75 align-self-center m-3" style="background-color: #E8DCCD; height:3px;">
            {% if user.is_authenticated %}
                <h6 class="ps-3" style="color:#E8DCCD"> You </h6>
                <li class="hover item">
                    <a href="/account" class="link"><i class="fa fa-user"></i> Account </a>
                </li>
                <li class="hover item">
                    <a href="/orderhistory" class="link"><i class="fa fa-history"></i> Order History </a>
                </li>
                <li class="hover item">
                    <a href="/followed" class="link"><i class="fa fa-bookmark"></i> Saved Creators </a>
                </li>
                <hr class="border-0 w-75 align-self-center m-3" style="background-color: #E8DCCD; height:3px;">
                <h6 class="ps-3" style="color:#E8DCCD"> Storefront </h6>
                <li class="hover item">
                    <a href="/storefront" class="link"><i class="fa fa-shop"></i> Manage </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>